
.-student-profile {

}
.-student-profile .-profile {
  border: 16px solid white;
}
.-student-profile .-profile.-bio {
  width: 25%;
}

.-student-profile .-profile.-details {
  width: 75%;
}
.-student-profile .-bio img {
  width: 100%;
}
.-student-profile .-bio .-data {

}
.-student-profile .-bio .-data > div {
  margin: 10px 0;
}

.-student-profile .-bio .-data > div .-top {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.2em;
}

.-student-profile .-bio .-data > div .-value {

}

.-tab-contents {

}
.-tab-contents .-tab-content {

}

.-tab-contents .-tab-content .-radargraph {
  width: 60%;
}

.-tab-contents .-tab-content .-account {
  width: 40%;
}

.-tab-contents .-tab-content .-courses {
  width: 40%;
}
.-tab-contents .-tab-content .-courses .-course {
  width: 46%;
  margin: 1%;
  max-width: 105px;
  height: 105px;
  line-height: 105px;
  text-align: center;
  border: 1px solid var(--bg-color);
  cursor: pointer
}
.-tab-contents .-tab-content .-course-history {
  width: 60%;
  padding: 15px;
  height: 420px;
}


@media screen and (max-width: 767px) {
  .-tab-contents .-tab-content .-radargraph {
    width: 100%;
  }
  
  .-tab-contents .-tab-content .-account {
    width: 100%;
  }

  .-student-profile .-profile {
    width: 100% !important;
  }
  
.-tab-contents .-tab-content .-courses {
    width: 100%;
  }
  .-tab-contents .-tab-content .-courses .-course {
    width: 23%;
    max-width: 67px;
    height: 67px;
    line-height: 67px;
  }
  .-tab-contents .-tab-content .-course-history {
    width: 100%;
    padding: 15px;
  }
  .-student-profile .-profile {
    border: unset
  }
}