
.-all-students {

}
.-all-students .-table-graph {
  text-align: center
}
.-all-students .-table {
  width: calc(100% - 320px);
  text-align: left;
}
.-all-students .-table .-row:not(.-head) {
  cursor: pointer;
  position: relative;
  border: 1px solid var(--bg-color)
}

.-all-students .-table .-row:not(.-head)::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(0,0,0,0.2)
}

.-all-students .-table .-row:not(.-head):hover::before {
  display: block
}

.-all-students .-table .-row:not(.-head):hover .-col {
  /* text-decoration: underline */
}

.-all-students .-table .-row:nth-child(odd) {
  background-color: #f3f3f3
}

.-all-students .-table .-row.-head {

}
.-all-students .-table .-row .-col {
  display: inline-block;
  vertical-align: middle;
  width: 25%;
  padding: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden
}

.-all-students .-table .-row .-col.-position {
  width: 20%;
  margin-left: 2.5%
}
.-all-students .-table .-row .-col.-codename {
  width: 35%
}

.-all-students .-table .-row .-col.-aggregate {
  width: 20%;
  text-align: right
}

.-all-students .-table .-row .-col.-prize {
  width: 20%;
  text-align: right
}

.-all-students .-table .-row.-head  .-col {
  text-transform: capitalize;
  font-weight: 600;
}

.-all-students .-graph {
  width: 320px;
}

.-graph .-courses {

}
.-graph .-courses .-course {
  width: 50%;
  margin: 4px 0;
}
.-graph .-courses .-course .-course-info {
  text-transform: uppercase;
  font-weight: bold;
}
.-graph .-courses .-course .-course-info .-name {

}

@media screen and (max-width: 767px) {
  .-all-students .-graph {
    
  }

  .-all-students .-table {
    width: 100%;
  }
}