
.-add-student {
  background-color: unset !important;
}

.-add-student .form-group {
  width: 49%;
  margin: 20px 1%
}

.-add-student .form-group:nth-child(odd) {
  margin-left: unset;
}

.-add-student .form-group:nth-child(even) {
  margin-right: unset;
}

.-add-student .-registration {
  display: none;
}

.-add-student .-students .-student {
  height: 208px;
  width: calc(95% / 5);
  margin: calc(5% / 8);
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  background-color: white;
  padding: 20px;
}

.-add-student .-students .-student:nth-child(5n) {
  margin-right: 0
}

.-add-student .-students .-student:nth-child(5n - 4) {
  margin-left: 0;
}
.-add-student .-students .-student:hover {
  background-color: rgba(0,0,0,0.05)
}

.-add-student .-students .-student .-name.-code {
  text-transform: initial;
  font-size: 1.2em;
}
.-add-student .-students .-student .-name.-full {
  font-weight: 400;
  font-size: 0.9em;
}

.-add-student .-students .-student.-new span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  color: var(--primary);
  text-transform: capitalize
}

.-add-student .-students .-student.-new::before,
.-add-student .-students .-student.-new::after {
  content: '';
  width: 15px;
  height: 2px;
  background-color: var(--primary);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.-add-student .-students .-student.-new::after {
  transform: translate(-50%,-50%) rotate(90deg)
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .-add-student .-students .-student {
    width: 49%;
  }
  .-add-student .-students .-student:hover {
    background-color: rgba(0,0,0,0.05)
  }
  .-add-student .-students .-student:nth-child(5n) {
    margin: calc(5% / 8);
  }
  
  .-add-student .-students .-student:nth-child(5n - 4) {
    margin: calc(5% / 8);
  }
  .-add-student .-students .-student:nth-child(2n) {
    margin-right: 0
  }

  .-add-student .-students .-student:nth-child(2n - 1) {
    margin-left: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .-add-student .-students .-student {
    width: 49%;
    margin: calc(5% / 8);
  }
  .-add-student .-students .-student:nth-child(5n) {
    margin: calc(5% / 8);
  }
  
  .-add-student .-students .-student:nth-child(5n - 4) {
    margin: calc(5% / 8);
  }
  .-add-student .-students .-student:nth-child(2n) {
    margin-right: 0
  }

  .-add-student .-students .-student:nth-child(2n - 1) {
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .-add-student .-students .-student {
    width: 100%;
    margin-left: unset;
    margin-right: unset;
    max-width: unset;
  }
}

@media screen and (max-width: 767px) {
  .-add-student .form-group {
    width: 100%;
    margin: 20px 0px;
  }
  
}