
.-content {
  width: calc(100% - 220px);
  padding: 15px;
  background-color: var(--bg-color)
}

.-content .-page {
  padding: 15px;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.065);
  border-radius: 0.25rem;
  height: 100%;
}

.-aside.-icons-only+.-content {
  width: calc(100% - 60px)
}


@media screen and (max-width: 767px) {
  .-content {
    width: 100%;
  }
  .-aside.-icons-only+.-content {
    width: 100%;
  }
  .-content .-page {
    padding: 10px;
  }
}