@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900&display=swap');

*,*::before,*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

*, *::before, *::after {
  transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

:root {
  --one: calc((100% * 1) / 12);
  --two: calc((100% * 2) / 12);
  --three: calc((100% * 3) / 12);
  --four: calc((100% * 4) / 12);
  --five: calc((100% * 5) / 12);
  --six: calc((100% * 6) / 12);
  --seven: calc((100% * 7) / 12);
  --eight: calc((100% * 8) / 12);
  --nine: calc((100% * 9) / 12);
  --ten: calc((100% * 10) / 12);
  --eleven: calc((100% * 11) / 12);
  --twelve: 100%;
  --headerColor: #25313e;
  --asideColor: #41586e;
  --gray: #adbece;
  --bg-color: #f5f7fa;
  --info: #4cc0c1;
  --warning: #ffc333;
  --primary: #2962FF;
  --danger: #fb6b5b;
  --success: #65bd77;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0)
}

body {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.42857143;
  color: #222;
  background-color: white;
}

html, body, .-container {
  height: 100%;
}

.-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.-posrel {
  position: relative
}

.-posabs {
  position: absolute
}

.-inlineblock {
  display: inline-block;
}

.-vatop {
  vertical-align: top;
}

.-vamiddle {
  vertical-align: middle
}

.-vabottom {
  vertical-align: bottom
}

.-vabaseline {
  vertical-align: baseline
}

.-w33 {
  width: calc(100% / 3);
}

.-w50 {
  width: 50%;
}

.-hide {
  display: none
}

.arrow,
.arrow::after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.arrow::after {
  border-width: 7px;
}

/* TABS */

.-tabs .-tab {
  padding: 5px 0px;
  margin: 0 8px;
  text-align: left;
  width: fit-content;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  font-weight: 300;
  color: inherit;
  transition: color 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
  display: inline-block;
  vertical-align: middle
}

.-tabs .-tab.active {
  color: var(--primary)
}

.-tabs .-tab:first-child {
  margin-left: 0;
}

.-tabs .-tab:last-child {
  margin-right: 0;
}

.-tabs .-tab::before,
.-tabs .-tab::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,-50%);
}

.-tabs .-tab::before {
  background-color: var(--gray);
  z-index: 0;
}

.-tabs .-tab::after {
  background-color: var(--primary);
  z-index: 1;
  width: 0%;
}

.-tabs .-tab.active::after {
  width: 100%;
}

.-tab-contents {
  margin-top: 10px;
}
.-tab-contents .-tab-content {
  display: none;
}

.-tab-contents .-tab-content.active {
  display: block;
}

@media screen and (max-width: 767px) {
  .-tabs .-tab {
    margin: 5px 0;
    display: block;
    vertical-align: middle
  }
}