
/* @import url('./common-css/firebase-ui.css'); */
@import url('./common-css/icons.css');
@import url('./common-css/general.css');
@import url('./common-css/form-fields.css');
@import url('./common-css/header.css');
@import url('./common-css/aside.css');
@import url('./common-css/content.css');
@import url('./pages/auth/auth.css');
@import url('./pages/add-teacher/add-teacher.css');
@import url('./pages/add-student/add-student.css');
@import url('./pages/student-profile/student-profile.css');
@import url('./pages/all-students/all-students.css');

.-container {
  width: 100%;
  overflow-x: hidden
}

.-container .-signup {
  height: 100%;
  background-color: #0288D1;
  background: radial-gradient(circle, #039BE5, #01579b);
  position: relative
}

.-container .-signup>div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

.firebaseui-page-provider-sign-in {
  background: transparent
}

.-container .-pages {
  height: 100%;
}


.-container .-pages .-main {
  height: calc(100% - 50px)
}

.-container .-pages .-main .-col {
  height: 100%;
}

@media screen and (max-width: 767px) {
  .-container .-pages .-main {
    height: unset !important
  }
}
