

r-graph {
  display: inline-block;
  vertical-align: middle;
  width: 320px;
  height: 320px;
}


.-content {
  width: calc(100% - 220px);
  padding: 15px;
  background-color: var(--bg-color);
  overflow-y: auto
}

.-content .-page {
  padding: 15px;
  border-radius: 0.25rem;
  height: 100%;
  background-color: white;
}

.-aside.-icons-only+.-content {
  width: calc(100% - 60px)
}

@media screen and (max-width: 767px) {
  .-content {
    width: 100%;
    padding: 5px;
    overflow-y: unset
  }
  .-aside.-icons-only+.-content {
    width: 100%;
  }
  .-content .-page {
    padding: 10px;
    background-color: white;
    padding-bottom: 50px
  }
}