
.-student-profile.-page {
  height: 543px;
}
.-student-profile .-profile {
  border: 16px solid white;
}
.-student-profile .-profile.-bio {
  width: 35%;
  height: 100%;
}

.-student-profile .-profile.-details {
  width: 65%;
  height: 100%;
}
.-student-profile .-bio img {
  width: 100%;
}
.-student-profile .-bio .-data {

}

.-student-profile .-bio .-radargraph {
  width: 100%;
  max-width: 280px;
  height: 280px;
  margin: auto;
}

.-student-profile .-bio .-data > div {
  margin: 1px 0;
}

.-student-profile .-bio .-data > div .-caption,
.-student-profile .-bio .-data > div .-value {
  display: inline-block;
  vertical-align: middle;
}

.-student-profile .-bio .-data > div .-caption {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.2em;
  width: 35%;
}

.-student-profile .-bio .-data > div .-value {
  font-weight: 400;
}

.-tab-contents {

}
.-tab-contents .-tab-content {

}

.-tab-contents .-tab-content .-account {
  width: 100%;
}

.-account .textfields {

}
.-account .textfields > * {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  margin: unset;
  border: 2px solid white;
}

.-account .textfields > *:nth-child(odd) {
  margin-left: 0;
}

.-account .textfields > *:nth-child(even) {
  margin-right: 0;
}
.-account .textfields label textarea {
  height: 150px;
}
.-account .textfields input {

}
.-account .textfields span {

}

.-tab-contents .-tab-content .-courses {
  width: 40%;
}
.-tab-contents .-tab-content .-courses .-course {
  width: 46%;
  margin: 1%;
  max-width: 105px;
  height: 105px;
  line-height: 105px;
  text-align: center;
  border: 1px solid var(--bg-color);
  cursor: pointer
}
.-tab-contents .-tab-content .-course-history {
  width: 60%;
  padding: 15px;
  height: 420px;
}

@media screen and (max-width: 480px) {
  .-student-profile .-profile.-bio,
  .-student-profile .-profile.-details {
    width: 100%;
    border: unset
  }

  .-tab-contents .-tab-content .-courses .-course {
    width: 23%;
  }

  .-account .textfields > * {
    width: 100%;
  }

  .-student-profile.-page {
    height: unset
  }
  .-tab-contents .-tab-content .-courses {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .-tab-contents .-tab-content .-radargraph {
    width: 100%;
  }
  
  .-tab-contents .-tab-content .-account {
    width: 100%;
  }

  .-student-profile .-profile {
    width: 100% !important;
  }
  
.-tab-contents .-tab-content .-courses {
    width: 100%;
  }
  .-tab-contents .-tab-content .-courses .-course {
    width: 23%;
    max-width: 67px;
    height: 67px;
    line-height: 67px;
  }
  .-tab-contents .-tab-content .-course-history {
    width: 100%;
    padding: 15px;
  }
  .-student-profile .-profile {
    border: unset
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  

  .-student-profile .-bio .-data > div .-caption {
    width: 50%;
  }

  .-student-profile .-bio .-data > div .-value {
    width: 50%;
  }
}