
/* SLIDER */
.pure-material-slider {
  --pure-material-safari-helper1: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.04);
  --pure-material-safari-helper2: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.12);
  --pure-material-safari-helper3: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.16);
  --pure-material-safari-helper4: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.24);
  display: inline-block;
  width: 200px;
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5
}

/* input */
.pure-material-slider > input {
  -webkit-appearance: none;
  position: relative;
  top: 24px;
  display: block;
  margin: 0 0 -36px;
  width: 100%;
  height: 36px;
  background-color: transparent;
  cursor: pointer;
}

/* without span */
.pure-material-slider > input:last-child {
  position: static;
  margin: 0;
}

/* span */ 
.pure-material-slider > span {
  display: inline-block;
  margin-bottom: 36px;
}

/* focus */ 
.pure-material-slider > input:focus {
  outline: none;
}

/* disabled */
.pure-material-slider > input:disabled {
  cursor: default;
  opacity: 0.38;
}

.pure-material-slider > input:disabled + span {
  color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38)
}

/* webkit | track */
.pure-material-slider > input::-webkit-slider-runnable-track {
  margin: 17px 0;
  border-radius: 1px;
  width: 100%;
  height: 2px;
  background-color: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.24)
}

/* webkit | thumb */
.pure-material-slider > input::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 50%;
  height: 2px;
  width: 2px;
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  transform: scale(6, 6);
  transition: box-shadow 0.2s
}

/* webkit | hover, focus */
.pure-material-slider:hover > input::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px var(--pure-material-safari-helper1);
}

.pure-material-slider > input:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px var(--pure-material-safari-helper2)
}

.pure-material-slider:hover > input:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px var(--pure-material-safari-helper3)
}

/* webkit | active */
.pure-material-slider > input:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px var(--pure-material-safari-helper4) !important;
}

/* webkit | disabled */
.pure-material-slider > input:disabled::-webkit-slider-runnable-track {
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38)
}

.pure-material-slider > input:disabled::-webkit-slider-thumb {
  background-color: rgb(var(--pure-material-onsurface-rgb, 0, 0, 0));
  color: rgb(var(--pure-material-surface-rgb, 255, 255, 255));
  /* safari */
  box-shadow: 0 0 0 1px rgb(var(--pure-material-surface-rgb, 255, 255, 255)) !important;
  transform: scale(4, 4);
}

/* moz | track */
.pure-material-slider > input::-moz-range-track {
  margin: 17px 0;
  border-radius: 1px;
  width: 100%;
  height: 2px;
  background-color: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.24)
}

/* moz | thumb */
.pure-material-slider > input::-moz-range-thumb {
  appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 50%;
  height: 2px;
  width: 2px;
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  transform: scale(6, 6);
  transition: box-shadow 0.2s
}

/* moz | progress */
.pure-material-slider > input::-moz-range-progress {
  border-radius: 1px;
  height: 2px;
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243))
}

/* moz | hover, focus */
.pure-material-slider:hover > input:hover::-moz-range-thumb {
  box-shadow: 0 0 0 2px rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.04)
}

.pure-material-slider > input:focus::-moz-range-thumb {
  box-shadow: 0 0 0 2px rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.12)
}

.pure-material-slider:hover > input:focus::-moz-range-thumb {
  box-shadow: 0 0 0 2px rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.16)
}

/* moz | active */
.pure-material-slider > input:active::-moz-range-thumb {
  box-shadow: 0 0 0 2px rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.24) !important;
}

/* moz | disabled */
.pure-material-slider > input:disabled::-moz-range-track {
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
}

.pure-material-slider > input:disabled::-moz-range-progress {
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87)
}

.pure-material-slider > input:disabled::-moz-range-thumb {
  background-color: rgb(var(--pure-material-onsurface-rgb, 255, 255, 255)) !important;
  transform: scale(4, 4)
}

.pure-material-slider > input::-moz-focus-outer {
  border: none;
}

/* ms | track */
.pure-material-slider > input::-ms-track {
  border-radius: 1px;
  height: 2px;
  background-color: rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.24);
}

/* ms | thumb */
.pure-material-slider > input::-ms-thumb {
  appearance: none;
  margin: 0 17px;
  border: none;
  border-radius: 50%;
  height: 2px;
  width: 2px;
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  transform: scale(6, 6);
  transition: box-shadow 0.2s
}

/* ms | hover, focus */
.pure-material-slider:hover > input::-ms-thumb {
  box-shadow: 0 0 0 2px rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.04)
}

.pure-material-slider > input:focus::-ms-thumb {
  box-shadow: 0 0 0 2px rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.12)
}

.pure-material-slider:hover > input:focus::-ms-thumb {
  box-shadow: 0 0 0 2px rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.16);
}

/* ms | active */
.pure-material-slider > input:active::-ms-thumb {
  box-shadow: 0 0 0 2px rgba(var(--pure-material-primary-rgb, 33, 150, 243), 0.24) !important;
}

/* ms | disabled */
.pure-material-slider > input:disabled::-ms-fill-lower {
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38)
}

.pure-material-slider > input:disabled::-ms-fill-upper {
  background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  opacity: 0.38
}

.pure-material-slider > input:disabled::-ms-thumb {
  background-color: rgb(var(--pure-material-onsurface-rgb, 0, 0, 0));
  box-shadow: 0 0 0 1px rgb(var(--pure-material-surface-rgb, 255, 255, 255)) !important;
  transform: scale(4, 4)
}
